.page {
	clear: both;
	box-sizing: border-box;
	padding-right: 0.5em;
	display: flex;
	flex-direction: column;
}

@media screen {
	.page {
		outline: 1px solid black;
		width: calc(100vmin / 1.414);
		height: 100vmin;
		margin: 1em auto;
		padding-left: 1.4cm;
	}
}

@media print {
	.page {
		width: 100%;
		height: 100vh;
		page-break-after: always;
	}
	@page {
		margin: 0;
		margin-left: 1.4cm;
		size: A5;
	}
}
